.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.polygon-left {
  width: auto; 
  height: auto; 
  position: absolute;
  left: 200px; 
  top: 34px; 
  max-width: 50%; 
  max-height: 51vh; 
  background-color: rgba(51, 58, 126, 0.26);
}

.polygon-right {
  width: auto; 
  height: auto; 
  position: absolute;
  left: 1000px;
  top: 34px; 
  max-width: 60%; 
  max-height: 51vh; 
  background-color: rgba(51, 58, 126, 0.26);

}

form {
  max-width: 100%;
  background-color: rgba(51, 58, 126, 0.26);
  height: 443px;
  background-color: rgba(0, 0, 128);
}

h2 {
  font-size:  40px;
  text-align: center;
}
.username {
  width: 200px;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.password {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.logın-button {
  width: 100px;
 padding: 2px; 
 text-align: center;
}